* { box-sizing: border box;
margin: 0;
padding: 0;
}

body {
    background-color: ivory;
    border-left: 150px solid #f2f2f2;
    border-right: 150px solid #f2f2f2;
   }

h1 {background-color: rgb(18, 48, 114);
    color:ivory;
    font-family: open sans;
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    border-bottom: skyblue solid 3px;
    width: 100%;
    padding: 50px;
    align-items: left;
}

header {width: 100;
}

.head-text {
    padding: 40px;
    justify-content: left;
}

h2 {font-family: open sans;
color: black;
font-size: 30px;
font-weight: bold;
}

p {
    font-family: open sans;
    font-size: 20px;
}

div {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

h4 {
    font-family: oswald;
    font-size: larger;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

li {
    width: fit-content;
    height: auto;
    background-color: skyblue;
    color: black;
    border-radius: 80px;
    display: inline-block;
    padding: 5px;
}

.footerimg {
    opacity: 0.5;
      }